/**cabecera**/
.cabecera{
    width: 100%;
    height: max-content;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    background: white;
    z-index: 100;
}
/*cabecera principal*/
.principal{
    min-width: min-content;
    height: 5rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "icono elementos";
    column-gap: 1rem;
    padding-left: 15%;
    padding-right: 15%;
}
.principal .icono{
    grid-area: icono;
    display: flex;
    justify-content: start;
    align-items: center;
}
.icono img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.elementos{
    grid-area: elementos;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}
.elementos input{
    width: 15rem;
    height: 2rem;
    padding-left: 5px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
}
.elementos input:focus{
    outline: none;
    border: 1px solid rgb(0, 0, 0);
}
.elementos img{
    width: 1.5rem;
    height: 1.5rem;
}

/*cabecera - menu de secciones*/
.navegador{
    position: relative;
}
.lista-seccion{
    height: 3.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    padding-left: 15%;
    padding-right: 15%;
    background: black;
    box-shadow: 0px 3px 5px rgb(167, 250, 14);
}
.lista-seccion li{
    display: flex;
    flex-direction: column;
}
.link-menu{
    height: 100%;
    font-weight: bold; /*negrita*/
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
    color: white;
}
.link-menu:hover .circulo{
    display: flex;
}
.lista-seccion li:hover .circulo{
    display: flex;
}
.circulo{
    display: none;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: rgb(167, 250, 14);
}

/*cabecera - menu subsecciones*/
.sub-completo{
    width: 100%;
    height: 24rem;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    justify-items: space-between;
    padding-top: 0.5rem;
    padding-left: 15%;
    padding-right: 15%;
    background: rgba(0, 0, 0, 0.95);
    box-shadow: 0px 3px 5px rgb(167, 250, 14);
}
.sub-completo .card{
    min-width: max-content;
    min-height: max-content;
    align-self: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgb(167, 250, 14);
}
.sub-completo .card img{
    width: calc(5rem + 6vw);
    height: calc(5rem + 6vw);
    object-fit: cover;
}
.subnavegador{
    width: 100%;
    height: 23rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;
    gap: 15px;
    padding-bottom: 0.5rem;
}
.lista-seccion li:hover .sub-completo{
    display: flex;
}
.lista-subseccion{
    width: 18rem;
    display: flex;
    flex-direction: column;
}
.link-seccion, .lista-subseccion h4{
    padding: 0.2rem 0.2rem;
    color: white;
}
.lista-subseccion h4{
    background: linear-gradient(to right, rgb(167, 250, 14) 20%, rgba(231, 19, 19, 0) 95%);
    color: black;
}
.link-seccion:hover{
    background: linear-gradient(to right, rgb(143, 143, 143) 50%, rgba(231, 19, 19, 0) 95%);
    font-weight: bold;
    color: black;
}