*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
/**************/
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/**main**/
main{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-image: url(./media/pelota-pista.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.seccion:nth-child(odd){
    background: rgba(56, 55, 55, 0.7);
}
.seccion:nth-child(even){
    background: rgba(0, 0, 0, 0.7);
}
.seccion:nth-child(odd) .cabecera-seccion{
    background: 
    linear-gradient(to right, rgba(18, 18, 161) 20%, rgba(231, 19, 19, 0) 95%);
    color: white;
}
.seccion:nth-child(even) .cabecera-seccion{
    background: 
    linear-gradient(to right, rgb(167, 250, 14) 20%, rgba(231, 19, 19, 0) 80%);
}

/*seccion de promos*/
#seccion-promo{
    display: flex;
    justify-content: center;
}
.promocion{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2rem 0;
}
.img-promo{
    width: 70rem;
    height: 18rem;
    overflow: hidden;
    scroll-behavior: smooth;
}
.lista-promocion{
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.lista-promocion li{
    width: 70rem; 
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
.lista-promocion a{
    width: 100%;
    height: 100%;
    display: block;
}
.lista-promocion img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.nav-promo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}
.nav-promo .circulo{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: greenyellow;
}
.nav-promo .circulo:hover{
    background: black;
}

/*bloque de seccion*/
.contenido{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 15%;
    padding-right: 15%;
    gap: 1.5rem;
}
.cabecera-seccion{
    width: 20rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top-right-radius: 20px;
    color: black;
}
/*bloque de productos*/
.productos{
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: auto;
    scroll-behavior: smooth;
    gap: 1.5rem;
    padding: 1.5rem;
    border-left:  3px groove black;
    border-right: 3px groove black;
}
/* Estilo para el scrollbar */
.productos::-webkit-scrollbar{
    width: 8px; /* Ancho del scrollbar */
    height: 8px; /* Alto del scrollbar (para scroll horizontal) */
}
/* Estilo para la "pista" del scrollbar */
.productos::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo de la pista */
    border-radius: 20px;
}
/* Estilo para la "barra" del scrollbar */
.productos::-webkit-scrollbar-thumb {
    background-color: rgba(139, 196, 54, 0.596); /* Color de la barra */
    border-radius: 20px; /* Redondeo de los bordes */
}
/* Estilo para la "barra" del scrollbar cuando está en hover */
.productos::-webkit-scrollbar-thumb:hover {
    background-color: greenyellow; /* Cambia el color al hacer hover */
}

/*producto*/
.productos .card{ 
    min-width: max-content;
    max-width: calc((100% - 6rem) / 5);
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 1.5rem;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    background: white;
}    
.productos .card:hover{
    box-shadow: 0px 0px 15px rgb(167, 250, 14);
}
.productos .card img{
    width: 12rem;
    height: 18rem;
    max-height: 14rem;
    object-fit: contain;
    transition: 0.8s;
}
.productos .card:hover img{
    scale: 108%;
    cursor: pointer;
}
.productos .card:hover .detalles{
    bottom: 0;
}

/*detalles del producto*/
.detalles{
    width: 100%;
    position: absolute;
    bottom: -55px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1.5rem;
    background: rgb(255, 255, 255);
    transition: 0.4s;
    z-index: 10;
}
.modelo{
    height: 3.5rem;
    text-align: center;
    display: flex;
    align-items: start;
    justify-content: center;
}
.modelo h3{
    font-size: 0.9rem;
    font-weight: normal;
    color: black;
}
.precio{
    height: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: start;
    color: rgb(10, 22, 87);
}
.carrito{
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
}
.carrito button{
    cursor: pointer;
    padding: 0.8rem 0.5rem;
    border-radius:15px;
    border: none;
    font-weight: bold;
    text-align: center;
    background: rgba(236, 181, 78, 0.815);
} 
#añadir-favorito{
    background: none;
}
#añadir-favorito img{
    width: 1.5rem;
    height: 1rem;
    height: max-content;
    object-fit: contain;
} 
.carrito button:hover{
    background: rgb(255, 227, 68);
}