*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}

/**************/
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/**main**/
main{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-image: url(./media/pelota-pista.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.general{
    background: rgba(34, 34, 34, 0.85);
}

/*bloque de seccion*/
.contenido{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cabecera-seccion{
    width: max-content;
    display: flex;
    justify-content: center;
    padding: 0.5rem 2rem;
    background: 
    linear-gradient(to right, rgba(18, 18, 161) 20%, rgba(231, 19, 19, 0) 95%);
    color: white;
    margin: 2rem;
}
.cabecera-seccion h1{
    font-size: 3rem;
}
.articulo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    align-items: center;
    padding: 2rem 15%;
}
main .card{ 
    min-width: max-content;
    height: 20rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 1rem;
}
main .card img{
    width: 30rem;
    max-height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(134, 134, 134);
}
.texto{
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
}
.texto h2{
    width: max-content;
    display: flex;
    justify-content: center;
    padding: 0.5rem 2rem;
    background: 
    linear-gradient(to right, rgb(167, 250, 14) 20%, rgba(231, 19, 19, 0) 95%);
    color: black;
}
.texto p{
    font-weight: bold;
    text-align: justify;
    line-height: 1.8rem;
    color: white;
}
