@mixin footer ($gridTColumn, $gridTRow, $gap, $padding, $bxs, 
                $justifyContent, $bg, $height, $gridArea) {
    height: $height;
    display: grid;
    grid-template-columns: $gridTColumn;
    grid-template-rows: $gridTRow;
    gap: $gap;
    background: $bg;
    padding: $padding;
    box-shadow: $bxs;
    justify-content: $justifyContent;
    grid-template-areas: $gridArea;
}
@mixin apartado ($nombreArea){
    grid-area: $nombreArea;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
@mixin tituloInfo ($width, $height, $fsize, $fstyle, 
                        $color, $padding, $bg, $cursor) {
    width: $width;
    height: $height;
    color: $color;
    padding: $padding;
    background: $bg;
    font: {
        size: $fsize;
        style: $fstyle;
    }
    &:hover {
        cursor: $cursor;
        background: darken($bg, 10%);
    }
}
@mixin bloque ($gridTColumn, $gridTRow, $gap, $justifyContent, 
                $alignItems, $padding, $nombreArea) {
    grid-area: $nombreArea;
    display: grid;
    grid-template-columns: $gridTColumn;
    grid-template-rows: $gridTRow;
    gap: $gap;
    justify-content: $justifyContent;
    align-items: $alignItems;
    padding: $padding;
}
@mixin estiloEnlaces ($display, $alignItems, $padding, $color, 
                        $fw, $fstyle, $fsize) {
    display: $display;
    color: $color;
    align-items: $alignItems;
    padding: $padding;
    font: {
        weight: $fw;
        style: $fstyle;
        size: $fsize;
    }
    &:hover {
        color: black;
    }
}
@mixin lista ($flexDirection, $flexWrap, $gap, $alignItems, 
                $justifyContent, $listStyleType, $padding) {
    display: flex;
    flex-direction: $flexDirection;
    flex-wrap: $flexWrap;
    gap: $gap;
    align-items: $alignItems;
    justify-content: $justifyContent;
    list-style-type: $listStyleType;
    padding: $padding;
}
@mixin lineaLista ($width, $bg) {
    width: $width;
    &:hover {
        background: lighten($bg, 50%);
    }
}
@mixin img ($width, $height, $objfit) {
    width: $width;
    height: $height;
    object-fit: $objfit;
}